# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List libraries used by Data Scientists
* List of Data Science Tools

## Author
Eduardo Zeballos

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learn

|Data Science Tools|
|--|
|JupyterLab|
|Watson Studio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335